/* h6{
    color: green;
}

#line1{
    color: blue;
}

#line2{
    color: pink;
} */

body{
    ali
}

#one{
    color: red;
}
#two{
    color: green;
}
#three{
    color: orange;
}
#four{
    color: purple;
}


p{
    color: blue;
}